.navbar {
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    box-sizing: border-box;
    .logo {
        display: flex;
        align-items: center;
        gap: 10px; // Espacio entre icono y texto
        font-size: 1.5rem;
        font-weight: bold;

        img {
            width: 60px; // Tamaño del icono
            height: 60px;
            filter: drop-shadow(0 10px 3px rgba(0, 0, 0, 0.9)); // Sombra del icono
        }
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 70%;
        padding: 0 15px;
        li {
            a {
                color: white;
                text-decoration: none;
                font-size: 1.1rem;
                white-space: nowrap;
                
                &:hover {
                    text-decoration: underline;
                }
            }



        }
    }

            .menu-toggle {
                display: none;
                background: none;
                border: none;
                color: white;
                font-size: 3em;
                cursor: pointer;
            }
}



/* 📱 Ajustes para móviles y tablets */
@media (max-width: 768px) {
    .navbar{
            display: flex;
            flex-direction: column;
            align-items: center;
    .logo {
        display: none; /* Se expandirá según el espacio disponible */
    }           
    
.nav-links {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-30px); // Inicia desplazado más arriba
    transition: max-height 1.0s ease, opacity 0.9s ease, transform 0.9s ease; // Animación más suave

    display: flex;
    flex-direction: column;
    background-color: #007bff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
        padding: 10px 0;
    }

    &.active {
        visibility: visible;
        max-height: 600px; 
        opacity: 1;
        transform: translateY(0); 
    }
}




    .menu-toggle {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}
}
