<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<footer class="main-footer">
  <div class="footer-content">
    <div class="footer-links">
      <a href="https://github.com/RafelAm" target="_blank" class="footer-link">
        <i class="fab fa-github"></i> Rafel Am
      </a>
      <a href="https://www.linkedin.com/in//" target="_blank" class="footer-link">
        <i class="fab fa-linkedin"></i> Rafel Amengual
      </a>
    </div>
    <div class="footer-copy">
      © Copyright 2025 Rafel Amengual Tomás
    </div>
  </div>
</footer>