<link rel="stylesheet" href="/css/header.css">

    
<nav class="navbar">
    <div class="logo"><img src="/images/logo.png" alt="">BlackJack RAM</div>
    <button class="menu-toggle">☰</button>
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/#game-list">Partidas</a></li>
        <li><a href="/shop">Tienda</a></li>
        <% if (isAdmin) { %>
            <li><a href="/dashboard">Dashboard</a></li>
        <% } %>
 <% if (loggedIn) { %>
                <li class="logout-mobile">
                <form action="/logout" method="POST">
                    <button type="submit">Cerrar Sesión</button>
                </form>
            </li>
            <li class="profile-menu">
                <a href="/profile/<%= username %>">
                    <img src="<%= profileImage || '/images/default-user.png' %>" alt="Perfil" class="profile-img">
                </a>
                <ul class="dropdown">
                    <li class="logout-desktop">
                        <form action="/logout" method="POST">
                            <button type="submit">Cerrar Sesión</button>
                        </form>
                    </li>
                </ul>
            </li>

        <% } else { %>
            <li><a href="/login">Iniciar Sesión</a></li>
            <li><a href="/register">Registrarse</a></li>
        <% } %>

    </ul>
</nav>



<script>

    document.addEventListener("DOMContentLoaded", function() {
        const menuToggle = document.querySelector(".menu-toggle");
        const navLinks = document.querySelector(".nav-links");

        menuToggle.addEventListener("click", function() {
            navLinks.classList.toggle("active");
        });
    });


document.addEventListener("DOMContentLoaded", function() {
    const profileMenu = document.querySelector('.profile-menu');
    const dropdown = document.querySelector('.profile-menu .dropdown');
    let hideTimeout;

    if (profileMenu && dropdown) {
        profileMenu.addEventListener('mouseenter', () => {
            clearTimeout(hideTimeout);
            dropdown.style.display = 'block';
        });
        profileMenu.addEventListener('mouseleave', () => {
            hideTimeout = setTimeout(() => {
                dropdown.style.display = 'none';
            }, 200); // 200ms de margen para mover el mouse
        });
        dropdown.addEventListener('mouseenter', () => {
            clearTimeout(hideTimeout);
            dropdown.style.display = 'block';
        });
        dropdown.addEventListener('mouseleave', () => {
            hideTimeout = setTimeout(() => {
                dropdown.style.display = 'none';
            }, 200);
        });
    }
});
</script>

