<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/header.css">
        <style>
        #mensaje {
            color: green;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    
<nav class="navbar">
    <div class="logo"><img src="/images/logo.png" alt="">  Mi Sitio</div>
    <button class="menu-toggle">☰</button>
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="#partidas">Partidas</a></li>
        <li><a href="#howToPlay">¿Como jugar?</a></li>
        <li><a href="#">Contacto</a></li>
        <% if (!loggedIn) { %>
            <li><a href="/login">Iniciar Sesión</a></li>
            <li><a href="/register">Registrarse</a></li>
        <% } else { %>
            <li>        
                <form action="/logout" method="POST">
                <button type="submit">Cerrar Sesión</button>
                </form>
            </li>
        <% } %>

    </ul>
</nav>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        const menuToggle = document.querySelector(".menu-toggle");
        const navLinks = document.querySelector(".nav-links");

        menuToggle.addEventListener("click", function() {
            navLinks.classList.toggle("active");
        });
    });

</script>
</body>
    